name: Flutter Web
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build Web
    env:
      my_secret: $
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      - run: flutter config --enable-web
      - run: flutter clean
      - run: flutter pub get
      - run: flutter build web --release
        working-directory: ./
      - run: |
          cd ./build/web
          git init
          git config --global user.email jkaae93@gmail.com
          git config --global user.name Serim
          git status
          git remote add origin https://jkaae93:jl8085++@github.com/jkaae93/jkaae93.github.io.git
          git checkout -b master
          git add .
          git commit -m "update"
          git push origin master -f
