name: Flutter Web
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build Web
    env:
      my_secret: $
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }} 
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      - run: flutter config --enable-web
      - run: flutter pub get
      - run: flutter build web --release
        working-directory: ./
      - name: install deploy keys
        env: 
          ACTION_DEPLOY_KEY: ${{ secrets.ACTION_DEPLOY_KEY }}
          USER_NAME: "Serim"
          USER_EMAIL: "jkaae93@gmail.com"
        run: |
          git init
          git config --global user.email "$USER_EMAIL"
          git config --global user.name "$USER_NAME"
          mkdir -p ~/.ssh/
          echo "$ACTION_DEPLOY_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run: |
          ls -al
          cd ./build/web
          ls -al
      - name: git setting
        run: | 
          git status
          git remote rm origin
          git remote add origin https://github.com/jkaae93/jkaae93.github.io.git
          git checkout master
          git add .
          git commit -am "update"
      - name: release
        run: |
          git push origin master -f
